langchain
langchain-community
langchain-huggingface
langchain-text-splitters
sentence-transformers
fastapi
uvicorn[standard]
pypdf
python-dotenv
qdrant-client
python-multipart
langchain-ollama
sqlmodel
alembic
redis
pytest
pytest-asyncio
httpx
pydantic-settings